*{
    padding: 0;
    margin: 0;
}
nav{
    height:100vh;
    width:275px;
    background: rgba(234, 234, 236, 0.333);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    transition: .9s ease-in-out;
}
.togglenav{
    background-image: url(./photos/j23.jfif);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: cover;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    cursor: pointer;

}
body{
    background: #545454;
}
nav ul{
padding:  50px 20px;
list-style-type: none;
display: block;
}

nav ul li{
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
}
nav ul li a{
text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: capitalize;
color: #000000;
}
.main-class{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    flex-flow: wrap;
}
.items{
    width: 400px;
    height: 450px;
    position: relative;
    padding: 10px;
    opacity: .8;
}
.items:hover{
opacity: 1;
}
.items img{
    width: 100%;
    height: 80%;
}

.content{
  text-align: center;
  text-transform: capitalize;
}
.content span{
  font-size: 24px;
  font-weight: 500;
  color: orange;
}
.btn{
  position: absolute;
  right: 10px;
   bottom: 100px;
   padding: 10px 20px;
  outline: none;
  background-color: #585252;
  outline: none;
  color: rgb(255, 255, 255);
}
.btn:hover{
    border:none;
}